//-- NextWish's HL Deathmatch Script Version 4.0
//-- http://www.nextwish.org

echo "NWHLDM: Version v4.0"
echo "NWHLDM: http://www.nextwish.org"
setinfo NWHLDM 4.0
exec NextWish\nwhldm1.cfg

echo "NWHLDM: Executing Custom Binds/Aliases" 
exec autoexec.cfg

// hl stuff

s_refgain 0.4
s_refdelay 4
s_occfactor 0.25
s_verbwet 0.25
s_distance 60
stuffcmds